[submodule "src/ROS2_PX4_Offboard_Example"]
	path = src/ROS2_PX4_Offboard_Example
	url = https://github.com/PX4/ROS2_PX4_Offboard_Example.git
[submodule "src/px4_msgs"]
	path = src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "src/px4_ros_com"]
	path = src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
